@import url('normalize.css');

@font-face {
    font-family: "Graphik";
    font-weight: 400;
    src: url("/fonts/GraphikRegular.otf") format("open-type");
}

@font-face {
    font-family: "Graphik";
    font-weight: 700;
    src: url("/fonts/GraphikBold.otf") format("open-type");
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Graphik", sans-serif;
    font-size: 1rem;
    line-height: 1.7;
}

h1, h2 {
    font-weight: 400;
    line-height: 1.4;
    margin-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1.5em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.header {
    background-color: #000;
    display: flex;
    padding: 1.5rem 2rem;
    min-height: 94px;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    position: relative;
    z-index: 100;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    padding: 0;
    overflow: visible;
    width: 60px;
    height: 60px;
    text-transform: none;
    transition-duration: .15s;
    transition-property: opacity,filter;
    transition-timing-function: linear;
    position: absolute;
    top: 17px;
    right: 17px;
    z-index: 100;
}

.hamburger-box {
    display: inline-block;
    height: 16px;
    position: relative;
    width: 26px;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    background-color: #fff;
    display: block;
    height: 2px;
    position: absolute;
    transition-duration: .15s;
    transition-property: transform;
    transition-timing-function: ease;
    width: 26px;
}

.hamburger-inner::before {
    content: "";
    top: 8px;
    transition-duration: .15s;
    transition-property: transform, opacity;
    transition-timing-function: ease;
}

.hamburger-inner::after {
    content: "";
    top: 16px;
}

.active .hamburger-inner {
    transform: translate3d(0, 8px, 0) rotate(45deg);
}

.active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(0, -7px, 0);
    opacity: 0;
}

.active .hamburger-inner::after {
    transform: translate3d(0, -16px, 0) rotate(-90deg);
}

.header-nav-collapse {
    background: var(--dark-violet);
    left: 0;
    display: none;
    padding: 1.5rem 1.5rem 2.5rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.header-nav-collapse.show {
    display: flex;
}

.header-nav a {
    color: #fff;
    display: block;
    font-size: 1.875rem;
    font-weight: 700;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    transition: letter-spacing 0.3s;
}

.header-nav a:hover,
.header-nav a:focus {
    letter-spacing: 0.25em;
}

.hero {
    background-color: #000;
    padding: 4.5rem 0 7rem;
}

.hero-title {
    font-size: 2rem;
    margin: 0;
    color: #fff;
    text-align: center;
    max-width: 960px;
    margin: 0 auto 3rem;
}

.hero-image {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.social {
    display: flex;
    justify-content: center;
    margin: 0;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social {
    display: flex;
}

.social a {
    display: block;
    padding: 0.5rem;
    color: #fff;
}

.post-article,
.related-section {
    margin-bottom: 10rem;
}

.post-body {
    font-size: 1rem;
}

.post-meta {
    display: flex;
    align-items: center;
    padding: 3rem 0;
}

.post-profile {
    margin-right: 1.25rem;
    max-width: 70px;
}

.post-profile img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

.post-author {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

.post-time {
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

.post-main p:first-child {
    font-size: 1.5rem;
    line-height: 1.4;
}

.post-image {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.social svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

.related-link {
    display: flex;
    text-decoration: none;
    color: #000;
}

.related-link:hover .related-title,
.related-link:focus .related-title {
    text-decoration: underline;
}

.related-posts li + li {
    margin-top: 3.75rem;
}

.related-image {
    max-width: 267px;
    height: auto;
    display: block;
    margin-right: 2.25rem;
    overflow: hidden;
}

.related-image img {
    transition: transform 0.5s;
}

.related-link:hover img,
.related-link:focus img {
    transform: scale3d(1.1, 1.1, 1);
}

.footer {
    background-color: #000;
    text-align: right;
    padding: 10rem 0;
}

.footer h2 {
    font-weight: 700;
    color: #fff;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .hero {
        padding: 4rem 0 12.5rem;
        min-height: 480px;
    }

    .hero-image {
        margin-top: -150px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    body {
        padding-top: 94px;
    }

    .container {
        max-width: 720px;
    }

    .header {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 100;
    }

    .hero {
        padding: 6rem 0 15rem;
        min-height: 540px;
    }

    .hero-image {
        margin-top: -200px;
    }

    .post-body {
        font-size: 1.25rem;
    }

    .post-meta {
        padding: 4rem 0;
    }

    .post-author {
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
    }
    
    .post-profile {
        max-width: 100px;
    }

    .related-title,
    .post-main p:first-child {
        font-size: 2rem;
    }

    .post-image {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .hero {
        padding: 8rem 0;
        min-height: 700px;
    }
    

    .hero-title {
        font-size: 3rem;
    }

    .hero-image {
        margin-top: -300px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1112px;
    }
}
